<!DOCTYPE HTML>
<html>
<head>
    <title>직원 및 방문자 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Up-Temp</a>
    </div>
</nav>
<h1 style="text-align: center; margin-bottom: 20px;">목록 관리</h1>
<div class="row justify-content-sm-center row-cols-1 row-cols-sm-12 g-4">
    <div class="col-2">
        <div class="card employee" style="cursor: pointer;" onclick="location.href='/log';">
            <img src="/img/entry.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">출입자 기록</h3>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
        <div class="card employee" style="cursor: pointer;" onclick="location.href='/employee';">
            <img src="/img/employee.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">직원</h3>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
        <div class="card visitor" style="cursor: pointer;" onclick="location.href='/visitor';">
            <img src="/img/visitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">방문자</h3>
            </div>
        </div>
    </div>
</div>
<a style="display: block; text-align: center; margin: 50px;" href="https://kauth.kakao.com/oauth/authorize?client_id=51e791da45820b34f137b8d9c87e733e&redirect_uri=http://localhost:8080/login&response_type=code">
    <img src="/img/kakao.png">
</a>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
