<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>방문자 정보 추가 및 수정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/inputForm.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Up-Temp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(0)">출입자 목록</a></li>
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(1)">직원 관리</a></li>
                <li class="nav-item"><a class="nav-link disabled" aria-current="page">방문자 관리</a></li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="margin: 20px; text-align: center;">방문자 정보 추가 및 수정</h1>
<div class="container" style="margin-left: auto; margin-right: auto;">
    <form th:each="visitor: ${result}" th:action="'/visitor/update/' + ${modify} + '/' + ${code}" method="post">
        <table class="profile">
            <tr>
                <td>이름</td>
                <td><input autocomplete="off" type="text" id="name" name="name" th:value="${visitor.name}"/></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input autocomplete="off" type="text" id="phone" name="phone" th:value="${visitor.phone}"/></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input autocomplete="off" type="text" id="address" name="address" th:value="${visitor.address}"/></td>
            </tr>
        </table>
        <div id="btn">
            <button class="btn btn-success btn-lg" type="submit">저장</button>
            <a class="btn btn-secondary btn-lg" href="/visitor" role="button">취소</a>
        </div>
    </form>
</div>
<th:block th:switch="${code}">
    <div th:case="2" class="alert alert-warning" role="alert">이름을 입력해주세요.</div>
    <div th:case="3" class="alert alert-warning" role="alert">전화번호를 입력해주세요.</div>
    <div th:case="4" class="alert alert-warning" role="alert">주소를 입력해주세요.</div>
    <div th:case="6" class="alert alert-warning" role="alert">해당 전화번호로 등록된 데이터가 이미 존재합니다.</div>
</th:block>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
