<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>방문자 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/float.css">
</head>
<body>
<div class="emp-out">
    <img class="emp-in" src="/img/employee.png" onclick="fun(true)">
</div>
<div class="vis-out">
    <img class="vis-in" src="/img/visitor.png" onclick="fun(false)">
</div>
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Up-Temp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<h1 style="text-align: center; margin-bottom: 20px;">방문자 목록</h1>
<div style="text-align: center;">
    <form action="/visitor/search" method="post" id="form">
        <select name="domain" onchange="func1()">
            <option value="blank">항목 선택</option>
            <option value="name">이름</option>
            <option value="phone">전화번호</option>
            <option value="address">주소</option>
        </select>
        <input type="text" name="value" disabled>
        <button class="btn btn-success btn-lg" type="submit">검색</button>
    </form>
</div>
<div class="container">
    <div>
        <table>
            <thead>
            <tr id="title">
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr id="entity" th:each="visitor : ${visitors}">
                <td th:text="${visitor.name}"></td>
                <td th:text="${visitor.phone}"></td>
                <td th:text="${visitor.address}"></td>
                <td><a class="btn btn-warning" th:href="'/visitor/modify/' + ${visitor.id}" role="button">수정</a></td>
                <td><a class="btn btn-danger" th:onclick="|func2(${visitor.id})|" role="button">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<div id="btn">
    <a class="btn btn-primary btn-lg" href="/visitor/create/0" role="button">추가</a>
    <a class="btn btn-secondary btn-lg" href="/" role="button">뒤로 가기</a>
</div>
<script type="text/javascript" src="/js/float.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>