<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>방문자 관리</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Up-Temp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(0)">출입자 목록</a></li>
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(1)">직원 관리</a></li>
                <li class="nav-item"><a class="nav-link disabled" aria-current="page">방문자 관리</a></li>
            </ul>
            <th:block th:if="${main}">
                <form action="/visitor/search" method="post" id="form" class="d-flex">
                    <select name="domain" onchange="searchForm()" class="me-1">
                        <option value="blank">항목 선택</option>
                        <option value="name">이름</option>
                        <option value="phone">전화번호</option>
                        <option value="address">주소</option>
                    </select>
                    <input class="me-1" type="text" name="value" disabled autocomplete="off">
                    <button class="btn btn-success" type="submit">검색</button>
                </form>
            </th:block>
        </div>
    </div>
</nav>
<h1 style="text-align: center; margin-bottom: 20px;">방문자 관리</h1>
<div class="container">
    <div>
        <table>
            <thead>
            <tr id="title">
                <th>ID</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr id="entity" th:each="visitor : ${result}">
                <td th:text="${visitor.id}"></td>
                <td th:text="${visitor.name}"></td>
                <td th:text="${visitor.phone}"></td>
                <td th:text="${visitor.address}"></td>
                <td><a class="btn btn-warning" th:href="'/visitor/modify/' + ${visitor.id}" role="button">수정</a></td>
                <td><a class="btn btn-danger" th:onclick="|deleteElement(false, ${visitor.id})|" role="button">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="btn">
    <a class="btn btn-primary btn-lg" href="/visitor/update/false" role="button">추가</a>
    <a class="btn btn-secondary btn-lg" th:href="${main ? '/' : '/visitor'}" role="button">뒤로 가기</a>
</div>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
