<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>직원 정보 추가 및 수정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/inputForm.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Up-Temp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(0)">출입자 목록</a></li>
                <li class="nav-item"><a class="nav-link disabled" aria-current="page">직원 관리</a></li>
                <li class="nav-item"><a class="nav-link active" onclick="switchPage(-1)">방문자 관리</a></li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="margin: 20px; text-align: center;">직원 정보 추가 및 수정</h1>
<div class="container" style="margin-left: auto; margin-right: auto;">
    <form th:each="employee: ${result}" th:action="'/employee/update/' + ${modify} + '/' + ${code}" method="post">
        <table class="profile">
            <tr>
                <td>사원번호</td>
                <td><input autocomplete="off" type="text" id="id" name="id" th:value="${employee.id}" th:disabled="${modify}"/></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input autocomplete="off" type="text" id="name" name="name" th:value="${employee.name}"/></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input autocomplete="off" type="text" id="phone" name="phone" th:value="${employee.phone}"/></td>
            </tr>
            <tr>
                <td>주소</td>
                <td>
                    <select id="address1" name="address1" onchange="selectAddress1(this.value)">
                        <option value="0" th:selected="${employee.code / 100 == 0}">'도/시' 선택</option>
                        <option value="1" th:selected="${employee.code / 100 == 1}">서울특별시</option>
                        <option value="2" th:selected="${employee.code / 100 == 2}">광주광역시</option>
                        <option value="3" th:selected="${employee.code / 100 == 3}">대구광역시</option>
                        <option value="4" th:selected="${employee.code / 100 == 4}">대전광역시</option>
                        <option value="5" th:selected="${employee.code / 100 == 5}">부산광역시</option>
                        <option value="6" th:selected="${employee.code / 100 == 6}">울산광역시</option>
                        <option value="7" th:selected="${employee.code / 100 == 7}">인천광역시</option>
                        <option value="8" th:selected="${employee.code / 100 == 8}">세종특별자치시</option>
                        <option value="9" th:selected="${employee.code / 100 == 9}">강원도</option>
                        <option value="10" th:selected="${employee.code / 100 == 10}">경기도</option>
                        <option value="11" th:selected="${employee.code / 100 == 11}">경상남도</option>
                        <option value="12" th:selected="${employee.code / 100 == 12}">경상북도</option>
                        <option value="13" th:selected="${employee.code / 100 == 13}">전라남도</option>
                        <option value="14" th:selected="${employee.code / 100 == 14}">전라북도</option>
                        <option value="15" th:selected="${employee.code / 100 == 15}">충청남도</option>
                        <option value="16" th:selected="${employee.code / 100 == 16}">충청북도</option>
                        <option value="17" th:selected="${employee.code / 100 == 17}">제주도</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <select id="address2" name="address2" disabled>
                    <option value="0">시/군/구</option>
                    </select>
                </td>
            </tr>
        </table>
        <div id="btn">
            <button class="btn btn-success btn-lg" type="submit">저장</button>
            <a class="btn btn-secondary btn-lg" href="/employee" role="button">취소</a>
        </div>
    </form>
</div>
<th:block th:switch="${code}">
    <div th:case="1" class="alert alert-warning" role="alert">사원번호를 입력해주세요.</div>
    <div th:case="2" class="alert alert-warning" role="alert">이름을 입력해주세요.</div>
    <div th:case="3" class="alert alert-warning" role="alert">전화번호를 입력해주세요.</div>
    <div th:case="4" class="alert alert-warning" role="alert">주소를 입력해주세요.</div>
    <div th:case="5" class="alert alert-warning" role="alert">해당 사원번호로 등록된 데이터가 이미 존재합니다.</div>
    <div th:case="6" class="alert alert-warning" role="alert">해당 전화번호로 등록된 데이터가 이미 존재합니다.</div>
</th:block>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
